:root {
  --border-radius: 11px;
  --display-height: 96px;
  --buttons-height: 67.4px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  align-items: center;
  background-color: rgb(38, 42, 40);
  color: white;
  display: flex;
  font: 300 14px/1 'Helvetica Neue', Helvetica, Arial, sans-serif;
  height: 100vh;
  justify-content: center;
}

.calculator {
  background-color: #494b4b;
  border-radius: var(--border-radius);
  box-shadow: 0 0 64px rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.1);
  height: calc(866px / 2);
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  width: calc(688px / 2);
}

.display {
  color: white;
  font-size: 3.5em;
  height: var(--display-height);
  letter-spacing: -0.5pt;
  line-height: var(--display-height);
  padding: 0 20px;
  text-align: right;
}

.row {
  display: flex;
}

button {
  background: rgb(118, 119, 119);
  border: 0.1px solid rgb(73, 75, 75);
  color: inherit;
  cursor: pointer;
  font: 200 2em/1 'Helvetica Neue', Helvetica, Arial, sans-serif;
  outline: none;
  text-align: center;
  width: 25%;
  display: block;
  height: var(--buttons-height);
}

button:active,
button:hover {
  background: rgba(118, 119, 119, 0.88);
}

.row button:last-child {
  background-color: rgb(241, 163, 60);
}

.calculator .row:first-child button:not(:last-child) {
  background-color: rgb(91, 93, 93);
}

.calculator .row:last-child button:first-child {
  width: 50%;
  border-bottom-left-radius: var(--border-radius);
}

.calculator .row:last-child button:last-child {
  border-bottom-right-radius: var(--border-radius);
}

nav {
  display: flex;
  position: absolute;
  top: 10px;
  left: 10px;
}

nav a {
  border-radius: 100%;
  height: 14px;
  width: 14px;
  margin: 0 8px 0 0;
}

nav a:first-child {
  background: rgb(237, 105, 94);
}

nav a:nth-child(2) {
  background: rgb(245, 190, 78);
}

nav a:last-child {
  background: rgb(97, 197, 84);
}