html,
body,
.holster {
  box-sizing: border-box;
  height: 100%;
  margin: 0;
  padding: 0;
}

.holster {
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}

.container {
  display: flex;
  overflow: auto;
}

.container.x {
  flex-flow: row nowrap;
  height: 100%;
  scroll-snap-type: x proximity;
  width: 100%;
}

.container > div {
  background-color: red;
  color: rgba(255, 255, 255, .67);
  flex: none;
  font: 4rem/100vh 'Berkeley Mono', monospace;
  scroll-snap-align: center;
  text-align: center;
  width: 100%;
}

.container > div:nth-child(even) {
  background-color: orange;
}